/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f9f9fb;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

.font-poppins {
  font-family: "Poppins-Regular";
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  background-color: white !important;
  border-radius: 15px 0 0 15px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  background-color: white !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  background-color: white !important;
}

.mat-form-field-wrapper {
  padding: 1.34375em !important;
}
